<include file='Public:head' />
<body class="J_scroll_fixed">
<div class="wrap J_check_wrap">
	<div class="nav">
    <ul class="cc">
        <li ><a href="{:U('AuthRule/index')}">规则列表</a></li>
		<li class="current"><a href="javascrip:;">编辑规则</a></li>
      </ul>
	</div>
    <div class="h_a">规则属性</div>
  	<form action="{:U('AuthRule/edit')}" method="post" class="J_ajaxForm" >
    <div class="table_full">
      <table width="100%"  class="table_form">
        <tr>
          <th width="120">规则标识：</th>
          <td class="y-bg"><input type="text" class="input" name="name" id="name" size="30" value="{$data.name}" /></td>
        </tr>
        <tr>
          <th>规则名称：</th>
          <td class="y-bg"><input type="text" class="input" name="title" id="title" size="30" value="{$data.title}" /></td>
        </tr>
        <tr>
          <th>父级规则：</th>
          <td class="y-bg">
          	 <select name="pid">
            	<option value="0">顶级</option>
				<volist name='rules' id='rule'>
				<option value="{$rule.id}"<if condition="$rule['id'] eq $data['pid']"> selected='selected'</if> <if condition="$rule['level'] eq 3">disabled='disabled'</if>>{$rule._name}</option>
				</volist>
            </select>
          </td>
        </tr>
         <tr>
          <th>状态：</th>
          <td class="y-bg">
          	<label> 
        	<input type="radio" name="status" value="1" <eq name='data.status' value='1'> checked="checked"</eq>> 启用  
        	</label>&nbsp;
        	<label> 
        	<input type="radio" name="status" value="0" <eq name='data.status' value='0'> checked="checked"</eq>> 禁用  
        	</label>
          </td>
        </tr>
         <tr>
          <th>是否显示菜单：</th>
          <td class="y-bg">
            <label> 
          <input type="radio" name="isnavshow" value="1"  <eq name='data.isnavshow' value='1'> checked="checked"</eq> > 显示  
          </label>&nbsp;
          <label> 
          <input type="radio" name="isnavshow" value="0" <eq name='data.isnavshow' value='0'> checked="checked"</eq>> 隐藏  
          </label>
          </td>
        </tr>
        <tr>
            <th class="hd-w100">
                排序
            </th>
            <td class="y-bg">
                <input type="text" name="sort" class="input" value="{$data.sort}">
            </td>
        </tr>
        <tr>
            <th class="hd-w100">
                条件
            </th>
            <td class="y-bg">
            	<textarea name="condition" style="width:60%;height:80px">{$data.condition}</textarea>
            </td>
        </tr>
       
      </table>
    </div>
    <div class="">
      <div class="btn_wrap_pd">
      	<input type="hidden" name="id" value="{$Think.get.id}" />
        <button class="btn btn_submit mr10 J_ajax_submit_btn" type="submit">编辑</button>
     
      </div>
    </div>
  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/js/mod.common.js"></script>
</body>
</html>