<include file='Public:head' />
<body class="J_scroll_fixed">
<div class="wrap J_check_wrap">
  <div class="nav">
    <ul class="cc">
      <li class="current" ><a href="javascript:;">留言列表</a></li>
    </ul>
  </div>
 
  <div class="h_a">搜索</div>
  <form method="get" action="{:U('index')}">
 
    <div class="search_type cc mb10">
      <div class="mb10"> 
        <span class="mr20">时间：
        <input type="text" name="start_time" class="input length_2 J_date" value="{$Think.get.start_time}" style="width:80px;" placeholder="选择时间">-<input type="text" class="input length_2 J_date" name="end_time" value="{$Think.get.end_time}" style="width:80px;" placeholder="选择时间">
        <select class="select_2" name="lookstate" style="width:100px;">
           <option value='0'  >全部</option>
		       <option value='1'  <if condition='isset($_GET["lookstate"]) && $_GET["lookstate"] eq 1'> selected='selected'</if>>未读</option>
		       <option value='2'  <if condition='isset($_GET["lookstate"]) && $_GET["lookstate"] eq 2'> selected='selected'</if>>已读</option>
        </select>
        <select class="select_2" name="keytype" style="width:70px;">
          <option value='theme'  <if condition='isset($_GET["keytype"]) && $_GET["keytype"] eq "theme"'> selected='selected'</if> >主题</option>
        </select>
        关键字：
        <input type="text" class="input length_2" name="keyword" style="width:200px;" value="{$Think.get.keyword}" placeholder="请输入关键字...">
          <input type="hidden" value="{$Think.get.category_cid}" name="category_cid">
          <input type="hidden" value="{$Think.get.verifystate}" name="verifystate">
          <button class="btn" type="submit">搜索</button>
        </span>
      </div>
    </div>
  </form>
  <form class="J_ajaxForm" action="" method="post">
    <div class="table_list">
      <table width="100%">
	        <colgroup>
	        <col width="16">
	        <col width="50">
	        <col width="">
	        <col width="80">
	        <col width="150">
	        <col width="150">
	        <col width="100">
	        <col width="100">
	        </colgroup>
	        <thead>
	        <tr>
	            <td><label><input type="checkbox" class="J_check_all" data-direction="x" data-checklist="J_check_x"></label></td>
	       	   	<td align="left">fdId</td>
	            <td>主题</td>
	            <td>手机</td>
	            <td>邮箱</td>
	            <td>联系人</td>
	            <td align="center"><span>发帖时间</span></td>
	            <td align="center">管理操作</td>
	          </tr>
	        </thead>
          <if condition='$data'>
	          <volist name='data' id='value'>
            <tr <if condition='$value["lookstate"] eq 1'>style='font-weight:800'</if>>
		            <td><input type="checkbox" class="J_check" data-yid="J_check_y" data-xid="J_check_x" name="fd_id[{$value.fd_id}]" value="{$value.fd_id}"></td>
		            <td align="left">{$value.fd_id}</td>
		            <td>
	               	{$value.theme}
		            </td>
		            <td>{$value.phone}</td>
		            <td>{$value.email}</td>
		            <td>{$value.people}</td>
		            <td align="center">{$value.addtime|format_date=###,0}</td>
		            <td align="center">
		            	<a href="{:U('Feedback/edit',array('fd_id'=>$value["fd_id"]))}" >详细</a> 
		            	| 
		            	<a href="{:U('Feedback/del',array('fd_id'=>$value["fd_id"]))}" class="J_ajax_del" >删除</a>
		            </td>
		        </tr>
	        </volist>
        <else />
        	<tr><td colspan="8">没有找到符合条件的记录</td></tr>
        </if>
	        
        </table>
      	<div class="p10"><div class="pages">{$page} </div> </div>
     
    </div>
    <div class="btn_wrap">
      <div class="btn_wrap_pd">
        <label class="mr20"><input type="checkbox" class="J_check_all" data-direction="y" data-checklist="J_check_y">全选</label>                
        
        <button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('check')}">已读</button>
        <button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('cancel_check')}">未读</button>
        <button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('batch_delete')}">删除</button>
      	
      </div>
    </div>
  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/js/mod.common.js"></script>

</body>
</html>