<include file='Public:head' />
<body class="J_scroll_fixed">
<div class="wrap J_check_wrap">
  <div class="nav">
    <ul class="cc">
      <li <if condition="$_GET['verifystate'] eq 2">class="current" </if>><a href="{:U('index',array('position_psid'=>$_GET['position_psid'],'verifystate'=>2))}">广告列表</a></li>
      <li <if condition="$_GET['verifystate'] eq 1">class="current" </if>><a href="{:U('index',array('position_psid'=>$_GET['position_psid'],'verifystate'=>1))}">待审核广告</a></li>
    </ul>
  </div>
  <div class="mb10">
		<a href="{:U('Ad/add',array('position_psid'=>I('get.position_psid')))}"  class="btn" title="添加内容"><span class="add"></span>添加广告</a>
  </div>
  <div class="h_a">搜索</div>
  <form method="get" action="{:U('index')}">
 
    <div class="search_type cc mb10">
      <div class="mb10"> 
        <span class="mr20">时间：
        <input type="text" name="start_time" class="input length_2 J_date" value="{$Think.get.start_time}" style="width:80px;" placeholder="选择时间">-<input type="text" class="input length_2 J_date" name="end_time" value="{$Think.get.end_time}" style="width:80px;" placeholder="选择时间">
        <select class="select_2" name="position_psid" style="width:100px;">
          <option value='0' >全部</option>
		   <foreach name='position' item='v'>
		   	<option value='{$v.psid}' <if condition='$v["psid"] eq $_GET["position_psid"]'> selected='selected' </if>>{$v.position_name}</option>

		   </foreach>
        </select>
        <select class="select_2" name="keytype" style="width:70px;">
          <option value='name'  <if condition='isset($_GET["keytype"]) && $_GET["keytype"] eq "name"'> selected='selected'</if> >标题</option>

          <option value='username'  <if condition='isset($_GET["keytype"]) && $_GET["keytype"] eq "username"'> selected='selected'</if>>用户名</option>
          <option value='aid'  <if condition='isset($_GET["keytype"]) && $_GET["keytype"] eq "aid"'> selected='selected'</if>>ID</option>
        </select>
        关键字：
        <input type="text" class="input length_2" name="keyword" style="width:200px;" value="{$Think.get.keyword}" placeholder="请输入关键字...">
        
          <input type="hidden" value="{$Think.get.verifystate}" name="verifystate">
          <button class="btn" type="button" onclick="location.href='{:U('index',array('verifystate'=>I('get.verifystate')))}'">所有广告</button>
          <button class="btn" type="submit">搜索</button>
        </span>
      </div>
    </div>
  </form>
  <form class="J_ajaxForm" action="" method="post">
    <div class="table_list">
      <table width="100%">
	        <colgroup>
	        <col width="16">
	        <col width="50">
	        <col width="60">
	        <col width="200">
	        <col width="">
	        <col width="90">
	        <col width="80">
	        <col width="100">
	        <col width="100">
	        </colgroup>
	        <thead>
	        <tr>
	            <td><label><input type="checkbox" class="J_check_all" data-direction="x" data-checklist="J_check_x"></label></td>
	            <td>排序</td>
	            <td align="left">ID</td>
	            <td>预览</td>
	            <td>标题</td>
	            <td>位置</td>
	            <td align="center">发布人</td>
	            <td align="center"><span>发帖时间</span></td>
	            <td align="center">管理操作</td>
	          </tr>
	        </thead>
          <if condition='$data'>
          <volist name='data' id='value'>
	        <tr>
	            <td><input type="checkbox" class="J_check" data-yid="J_check_y" data-xid="J_check_x" name="ids[{$value.aid}]" value="{$value.aid}"></td>
	            <td><input name='sort[{$value.aid}]' class="input mr5"  type='text' size='3' value='{$value.sort}'></td>
	            <td align="left">{$value.aid}</td>
	            <td>
                <if condition='is_file($value["pic"])'>
	            	  <img src="__ROOT__/{$value.pic}" alt="" width='200' height='50' >
                <else />
                  <img src="__ROOT__/Data/Public/images/default.gif" alt="" height='50'>
                </if>
	            </td>
	            <td>{$value.name}</td>
	            <td>
                <a href="{:U('index',array('position_psid'=>$value['position_psid'],'verifystate'=>$_GET['verifystate']))}">
                  {$value.position_name}
                </a>
              </td>
	            <td align="center">{$value.username}</td>
	            <td align="center">{$value.addtime|format_date=###,0}</td>
	            <td align="center">
	             	
	            	<a href="{:U('Ad/edit',array('position_psid'=>$value["position_psid"],'aid'=>$value["aid"]))}" >修改</a> 
	            	| 
	            	<a href="{:U('Ad/del',array('position_psid'=>$value["position_psid"],'aid'=>$value["aid"],'verifystate'=>$value['verifystate']))}" class="J_ajax_del" >删除</a>
	            </td>
	        </tr>
        </volist>
        <else/>
        <tr><td colspan="9">没有找到符合条件的记录</td></tr>
        </if>
	        
        </table>
      	<div class="p10"><div class="pages"> {$page} </div> </div>
     
    </div>
    <div class="btn_wrap">
      <div class="btn_wrap_pd">
        <label class="mr20"><input type="checkbox" class="J_check_all" data-direction="y" data-checklist="J_check_y">全选</label>                
        <button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('sort')}">排序</button>
        <button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('check')}">审核</button>
        <button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('cancel_check')}">取消审核</button>
        <button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('batch_delete')}">删除</button>
      	
      </div>
    </div>
  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/js/mod.common.js"></script>
</body>
</html>