<include file='Public:head' />
<body class="J_scroll_fixed">
<div class="wrap J_check_wrap">
	<div class="nav">
		<ul class="cc">
			<li>
				<a href="{:U('Backup/index')}">备份列表</a>
			</li>
			<li class="current">
				<a href="javascript:;">备份数据库</a>
			</li>
		</ul>
	</div>

	
		<form action="{:U('backup')}" method="get" class="hd-form" name="form" enctype='multipart/form-data' >
		    <div class="table_full">
			<div class="h_a">数据库备份</div>
			<table width='100%'  class="table_form">
				<tbody>
					<tr>
						<th width="200">
							备份分卷大小（kb）
							
						</th>
						<td>
							<input type="text" name="size" class="hd-w200" value="200"></td>
					</tr>
				</tbody>
			</table>
			
		</div>

			<div class="">
				<div class="btn_wrap_pd">
					<button class="btn btn_submit mr10 " type="submit">开始备份</button>

				</div>
			</div>
		</form>
		
		<form class="J_ajaxForm" method="post">
		<div class="table_list">
			<table  width="100%">
				<thead>
					<tr>
						<td  width="60">
							<label><input type="checkbox" class="J_check_all" data-direction="x" data-checklist="J_check_x" checked="checked"></label>
						</td>
						<td>表名</td>
						<td>类型</td>
						<td>编码</td>
						<td>记录数</td>
						<td>使用空间</td>
						<td>碎片</td>
						<td class="hd-w60">操作</td>
					</tr>
				</thead>
				<tbody>
					<volist name='data.table' id='vo'>
						<tr>
							<td >
								<input type="checkbox" class="J_check" data-yid="J_check_y" data-xid="J_check_x" name="table['{$key}']" value="{$key}" checked="checked">
						
							</td>
							<td>{$vo.tablename}</td>
							<td>{$vo.engine}</td>
							<td>{$vo.charset}</td>
							<td>{$vo.rows}</td>
							<td>{$vo.dataSize}</td>
							<td>{$vo.dataFree}</td>
							<td class="hd-w60">
								<a href="{:U('optimize',array('table'=>$vo['tablename']))}">优化</a>
								|
								<a href="{:U('repair',array('table'=>$vo['tablename']))}">修复</a>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
			</div>

			<div class="btn_wrap">
				<div class="btn_wrap_pd">
					<label class="mr20"><input type="checkbox" class="J_check_all" data-direction="y" data-checklist="J_check_y" checked="checked">全选</label>        
					<button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('optimize')}">优化</button>

					<button class="btn J_ajax_submit_btn" type="submit" data-action="{:U('repair')}">修复</button>

				</div>
			</div>

		</form>


</div>
<script type="text/javascript" src="__PUBLIC__/js/mod.common.js"></script>
</body>
</html>