<include file='Public:head' />
<body class="J_scroll_fixed">
<div class="wrap J_check_wrap">
  <div class="nav">
    <ul class="cc">
        <li class="current"><a href="javascript:;">角色管理</a></li>
        <li ><a href="{:U('AuthGroup/add')}">添加角色</a></li>
    </ul>
  </div>
  <div class="table_list">
  <table width="100%" cellspacing="0" >
    <thead>
      <tr>
        <td width="50" align="left">id</td>
        <td>角色名称</td>
        <td>状态</td>
        <td width="230" align="center">管理操作</td>
      </tr>
    </thead>
    <tbody>
    <tr>
    	<volist name='data' id='value'>
        <td align='left'>{$value.id}</td>
        <td>{$value.title}</td>
        <td><if condition='$value[status]'>启用<else />禁用</if></td>
        <td align='center'>
	        <a href="{:U('AuthGroup/rule',array('id'=>$value["id"]))}">设置权限</a>
	        |
	       	<a href="{:U('AuthGroup/edit',array('id'=>$value["id"]))}">修改</a>
	       	|
	       	<a class="J_ajax_del" href="{:U('AuthGroup/del',array('id'=>$value["id"]))}">删除</a>
       	</td>
      </tr>
      </volist>
     </tbody>
  </table>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/mod.common.js"></script><script type="text/javascript">

</script>
</body>
</html>